#omikuzi{
        font-family: serif,arial ;
        font-size:50px;
        font-weight: bold;
        text-align: center;
}
#zyuken{font-family: serif,arial ;
        font-size:20px;
        font-weight: bold;

}
#unsei{
    font-family: serif,arial ;
    font-size:20px;
}




.box{
    font-family: serif,arial ;
        font-size:50px;
        font-weight: bold;
        text-align: center;
        position: absolute;
        left: 50%;
        top: 50%;
}
#btn{
    font-family: serif,arial ;
        font-size:30px;
        font-weight: bold;
        text-align: center;
    width: 200px;
	height: 200px;
    position: absolute;
        left: 40%;
        top: 30%;
	

}
#unnsei{
    width: 50%;
    height: 50%;
}
#unsei{
    width: 200px;
	height: 200px;

}
.unsei{
    position: absolute;
        left: 40%;
        top: 30%;

}




